# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraform.lock.hcl

# Python
__pycache__/
*.py[cod]
.venv/
venv/
.env

# VS Code
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json

# Sistema operacional
.DS_Store
Thumbs.db

# Resultados gerados
resultados/**/*.json
resultados/**/*.csv
resultados/**/*.txt
!resultados/**/.gitkeep
